.member-container {
    width: 450px;
}

.member-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.member-margin-bottom {
    margin-bottom: 25px;
}

.member-margin-top {
    margin-top: 50px;
}

.member-hr {
    border: 1px dashed black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.member-table {
    width: 100%;
}

.member-right{
    margin-left: 86%;
}