.side-menu-container {
    min-height: 100vh;
    width: 15.2vw;
    background-color: #1F1F1F;
    color: white;
  }

  .side-menu-top {
    /* height: 26vh; */
  }
  
  .seller-avatar {
  
  }
  
  .avatar-fallback {
    background-color: #D6D9E8;
    border-radius: 50%;
    width: 4.16vw;
  }
  
  .seller-avatar-icon {
    color: #212337;
  }
  
  .logo {
    font-size: 26px;
  }
  
  .logo-name {
    font-size: 16px;
  }
  
  .user-name {
    font-size: 16px;
  }
  
  .user-email {
    font-size: 14px;
    color: #ABABAB;
  }
  
  .avatar-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
  }

  .user-info-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

