.admin-container {
    display: flex;
  }
  
  .main-section {
    padding-left: 2.34vw;
    padding-top: 2.34vw;
    min-height: 88vh;
  }

  .chat-main-section {
    display: flex;
    justify-content: space-between;
  }

  .chat-main-section-title {
    border-bottom: 2px solid #153085;
  }

  hr {
    margin-top: 0;
  }