.admin-container {
    display: flex;
}

.main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-section {
    padding-left: 1vw;
    padding-top: 1vw;
    padding-right: 1vw;
    flex: 1;
}

.inquiry-main-section-title {
    border-bottom: 2px solid #153085;
    font-size: 20px;
    font-weight: 700;
}

hr {
    margin: 0 30px 12px 0;
}

.inquiry-main-section-table {
    margin-top: 20px;
}