.admin-container {
    display: flex;
  }
  
  .main-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  .main-section {
    padding-left: 2.34vw;
    padding-top: 2.34vw;
    border-bottom: outset;
    padding-bottom : 1.5%;    
  }

  .notice-name {
    margin: 2.34vw;
  }

  .body-container{
    margin: 25px;
  }

  .notice_content {
    margin: 2.34vw;
  }

  .notice-textarea {
    width: 100%;
    height: 500px;
    box-sizing: border-box;
  }

  .notice-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin: 2.34vw;
  }

  .notice-btn {
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }

  .notice-btn-modify {
    background-color: #000000;
    color: white;
    border-color: #000000;
  }

  .notice-btn-modify:hover {
    background-color: #000000;
  }

  .notice-btn-delete {
    background-color: #000000;
    color: white;
    border-color: #000000;
  }

  .notice-btn-delete:hover {
    background-color: #000000;
  }